In [ ]:
# 游꿢 IMPLEMENTAR: An치lisis completo del dataset

# === Secci칩n 1: Estad칤sticas B치sicas ===
# TODO:
# - Imprimir n칰mero de usuarios, items, interacciones
# - Calcular longitud promedio/min/max de secuencias
# - Calcular distribuci칩n de ratings

# === Secci칩n 2: Visualizaciones ===
# TODO: Crear al menos 3 gr치ficos:

# 1. Histograma de longitud de secuencias
import matplotlib.pyplot as plt
# plt.hist(...) 

# 2. Distribuci칩n de ratings (barplot)
# plt.bar(...)

# 3. Top-20 pel칤culas m치s populares
# Contar frecuencia de cada item, ordenar, graficar

# BONUS: Distribuci칩n de ratings por grupo

# Analisis y exploracion del dataset

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Seccion 1: estadisticas basicas

In [18]:
path = '../data/train/netflix8_train.df'
df = pd.read_pickle(path)

In [15]:
df.head()

,user_id,user_group,items,ratings
0,0,0,"[472, 97, 122, 654, 709, 467, 574, 544, 478, 3...","[4.0, 3.0, 4.0, 3.0, 5.0, 4.0, 2.0, 1.0, 4.0, ..."
1,1,0,"[431, 445, 367, 100, 743, 739, 263, 426, 321, ...","[3.0, 5.0, 5.0, 5.0, 5.0, 3.0, 1.0, 4.0, 5.0, ..."
2,2,0,"[224, 133, 227, 51, 230, 546, 57, 60, 743, 495...","[5.0, 4.0, 3.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, ..."
3,3,0,"[338, 80, 210, 618, 468, 320, 351, 411, 575, 2...","[3.0, 5.0, 3.0, 5.0, 2.0, 1.0, 4.0, 3.0, 3.0, ..."
4,4,0,"[510, 231, 708, 86, 514, 352, 233, 351, 415, 6...","[4.0, 2.0, 3.0, 4.0, 5.0, 4.0, 2.0, 4.0, 3.0, ..."

In [16]:
nrows, ncols = df.shape
print(f"N칰mero de usuarios: {nrows}")
print(f"N칰mero de items: {ncols - 1}")

N칰mero de usuarios: 16000
N칰mero de items: 3